@charset "utf-8";
html {
  scroll-behavior: smooth;
  background-color: var(--bgc-main);
}

/* scroll */
body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-track {
  background-color: var(--bgc-main);
}

body::-webkit-scrollbar-thumb {
  background-color: #feff86;
  border-radius: 20px;
}

/* ----------------------------------section1-------------------------------------- */
#first-main {
  height: 100vh;
  border-radius: 0 0 100px 100px;
  position: relative;
  background-color: var(--bgc-suv);
  background: var(--bgc-suv) url(./images/Gradient-Ellipse.png) no-repeat 25%
    60%;
  overflow: hidden;
}

article img {
  position: absolute;
  top: -18vh;
  right: -10vw;
}

article img:last-child {
  position: absolute;
  top: 0;
  right: 0;
}

/* 다크모드 토글 */
.toggle_box {
  display: flex;
  align-items: center;
  z-index: 3;
  margin-top: 20px;
  position: absolute;
  right: 3vw;
}

#dark_input {
  display: none;
}

#dark_input + label#toggle_btn {
  position: relative;
  width: 210px;
  height: 70px;
}

#dark_input + label#toggle_btn > span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 40px;
  background-color: #000000;
  transition: all 0.7s;
}

#dark_input + label#toggle_btn > span:before {
  display: flex;
  position: absolute;
  height: 60px;
  width: 60px;
  left: 0.3rem;
  bottom: 0.3rem;
  border-radius: 50px;
  content: "";
  background: rgb(223, 223, 223) url(./images/moon.png) no-repeat 50%;
  align-items: center;
  font-weight: bold;
  color: rgb(0, 0, 0);
  transition: all 0.7s;
}

#dark_input + label#toggle_btn > span::after {
  content: "Dark Mode";
  color: white;
  position: absolute;
  top: 22px;
  left: 4.3vw;
  font-family: var(--font-suv);
  font-size: 1.3rem;
  transition: 0.6s;
}

#dark_input:checked + label#toggle_btn > span {
  background-color: var(--bgc-main);
}

#dark_input:checked + label#toggle_btn > span:before {
  -webkit-transform: translateX(calc(12.5rem - 100%));
  -ms-transform: translateX(calc(12.5rem - 100%));
  transform: translateX(calc(12.5rem - 100%));
  right: 0.25rem;
  bottom: 0.3rem;
  content: "";
  background: white url(./images/sun.png) no-repeat 50%;
}

#dark_input:checked + label#toggle_btn > span:after {
  content: "Light Mode";
  color: white;
  position: absolute;
  top: 22px;
  left: 1.3vw;
  font-family: var(--font-suv);
  font-size: 1.3rem;
  transition: 0.6s;
}

#dark_input:disabled + label#toggle_btn {
  display: none;
}

/* 왼쪽 제목 */
#first-main .title {
  margin-left: 5vw;
  margin-top: 15vh;
}

#first-main .title h1,
h2 {
  font-family: var(--font-main);
  font-size: 9rem;
  color: black;
}

#first-main .title > h2 {
  color: var(--bgc-main);
  margin-top: -7vh;
}

#first-main .title h3 {
  width: 15vw;
  min-width: 22vw;
  font-family: var(--font-suv);
  font-weight: 700;
  font-size: 1.9rem;
  margin-top: -2vh;
  background: #fc72e8;
  background: linear-gradient(135deg, #9a07d5 0%, #08e2ac 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 오른쪽 글 */
#first-main .suv-title {
  font-family: var(--font-suv);
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: right;
  margin-right: 5vw;
}

#first-main .suv-title .bold {
  font-weight: 700;
}

#first-main .suv-title #purple {
  position: relative;
  z-index: 1;
}

#first-main .suv-title #purple::before {
  content: " ";
  background-color: #decdff;
  width: 10vw;
  height: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* 메뉴 */
#first-main .menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 29vw;
  height: 7vh;
  border-radius: 100px;
  background-color: #000000;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: auto;
  z-index: 1;
}

#first-main .menu li {
  width: 23%;
  text-align: center;
  font-family: var(--font-suv);
  font-size: 1.3rem;
  padding: 14px 0 14px 0;
  border-radius: 50px;
}

#first-main .menu li:hover {
  background-color: var(--bgc-main);
}

#first-main .menu li:last-child {
  position: relative;
  cursor: pointer;
}

.menu .contactbox {
  display: none;
  position: absolute;
  top: -13vh;
  left: -7vw;
  color: black;
  background-color: var(--bgc-main);
  border-radius: 100px;
  height: 12vh;
  width: 25vw;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
}

.menu .contactbox .contact {
  background-color: white;
  width: 65px;
  padding: 5px;
  border-radius: 50px;
}

.menu .contactbox svg {
  width: 40px;
}

.menu .contactbox svg:last-child {
  cursor: pointer;
}

.menu .contactbox p {
  text-align: left;
  font-size: 1.3rem;
  font-weight: bold;
}

.menu .contactbox .underline {
  text-decoration: underline;
}

/* ---------------------------------section2 ---------------------------------- */
.animation {
  width: 100%;
  height: 20vh;
  overflow: hidden;
}

.slideBox {
  width: 200%;
  height: 100%;
  display: flex;
  align-items: center;
  animation: ani_1 15s linear infinite;
}

@keyframes ani_1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.leftBox,
.rightBox {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slideItem {
  font-family: var(--font-main);
  font-size: 5.5rem;
  color: #111;
  letter-spacing: 5px;
  line-height: 1;
}

.slideBox img {
  margin: 0;
}

/*  --------------------------------section3--------------------------------*/
#second-main {
  background-color: var(--bgc-suv);
  height: 100vh;
  border-radius: 100px 100px 0 0;
  position: relative;
}

/* about me 제목 */
#second-main h3 {
  font-family: var(--font-main);
  font-size: 4rem;
  position: absolute;
  top: 5vh;
  left: 3vw;
}

#second-main h4 {
  color: #222;
  font-family: var(--font-suv);
  font-size: 2.5rem;
  font-weight: 700;
  position: absolute;
  top: 20vh;
  left: 5vw;
}

#second-main .about_me {
  width: 100%;
  font-family: var(--font-suv);
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* (한글자씩 써지는 부분) 신입 웹퍼블리셔 */
#second-main .about_me .me1 {
  position: relative;
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  width: 50%;
  height: 14vh;
  margin: 0 auto;
}

#second-main .about_me .me1 h2 {
  position: absolute;
  top: 10px;
  left: 1.2vw;
  font-size: 1.7rem;
  color: transparent;
  margin: 0;
}

#second-main .about_me .me1 h2:before {
  content: "끊임없이 도전하고 발전하며 나아가는";
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: 100%;
  color: #2a2f4f;
  font-weight: 600;
  overflow: hidden;
  animation: typing 5s steps(31) infinite;
}

@keyframes typing {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 120%;
  }
}

#second-main .about_me .me1 span:nth-child(2) {
  position: absolute;
  left: 25vw;
}

#second-main .about_me .me1 span:nth-child(3) {
  position: absolute;
  top: 2vh;
  right: 20vw;
}

#second-main .about_me .me1 span:nth-child(2)::before {
  content: "";
  background-color: var(--bgc-main);
  width: 24vw;
  height: 10px;
  position: absolute;
  top: 5vh;
  left: -24vw;
}

#second-main .about_me .me1 p {
  font-weight: 600;
  font-size: 3rem;
  position: absolute;
  bottom: 0;
  left: 1vw;
}

/* 3가지 성격 */

#second-main .about_me .me2 {
  width: 40%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#second-main .about_me .pers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#second-main .about_me .pers p:first-child {
  width: 7vw;
  margin-right: 9vw;
  font-weight: 700;
  font-size: 2rem;
  color: #56398c;
}

#second-main .about_me .pers p {
  font-size: 1.2rem;
  line-height: 1.4;
}

/* --------------------------------------section4------------------------------- */
#third-main {
  height: 100vh;
  background-color: var(--bgc-suv);
  border-radius: 0 0 100px 100px;
  position: relative;
}

#third-main h4 {
  color: #222;
  font-family: var(--font-suv);
  font-size: 2.5rem;
  font-weight: 700;
  position: absolute;
  top: 7vh;
  left: 5vw;
}

#third-main .skill-wrapper {
  width: 80%;
  height: 70vh;
  margin: 0 auto;
  position: absolute;
  top: 18vh;
  left: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

#third-main .skill-wrapper .html {
  padding: 20px 0 20px 0;
}

#third-main .skill-wrapper .skill p:first-child:hover {
  color: #f7d060;
}

#third-main .skill-wrapper .skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-suv);
  border-bottom: 1px solid #747474;
  height: 25%;
}

#third-main .skill-wrapper .skill:last-child {
  border-bottom: none;
}

#third-main .skill-wrapper .skill p {
  line-height: 1.7;
  width: 50%;
}

#third-main .skill-wrapper .skill p:nth-child(1) {
  font-size: 2.2rem;
  color: #56398c;
  font-weight: 600;
  width: 50%;
}

#third-main .skill-wrapper .skill p:nth-child(2) {
  font-size: 1.2rem;
  color: #111;
  width: 50%;
  margin-left: 25vw;
}

/* -----------------------------------------section5--------------------------------------- */
/* 첫번째슬라이드 */
.animation2 {
  width: 100%;
  height: 25vh;
  overflow: hidden;
}

.slideBox2 {
  width: 200%;
  height: 100%;
  display: flex;
  animation: ani_2 30s linear infinite;
}

@keyframes ani_2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.leftBox2,
.rightBox2 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slideItem2 {
  width: 600px;
  border: 3px solid black;
  border-radius: 100px;
  font-size: 4.5rem;
  font-weight: 700;
  font-family: var(--font-suv);
  text-align: center;
  padding: 40px 0 40px 0;
  margin: 20px;
}

.slideItem2:first-child {
  width: 400px;
}

.slideItem2:last-child {
  width: 400px;
}

/* 두번째슬라이드 */
.animation3 {
  width: 100%;
  height: 25vh;
  overflow: hidden;
}

.slideBox3 {
  width: 200%;
  height: 100%;
  display: flex;
  animation: ani_3 17s linear infinite;
}

@keyframes ani_3 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.leftBox3,
.rightBox3 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slideItem3 {
  width: 600px;
  border: 3px solid black;
  border-radius: 100px;
  font-size: 4.5rem;
  font-weight: 700;
  font-family: var(--font-suv);
  text-align: center;
  padding: 40px 0 40px 0;
  margin: 20px;
}

.slideItem3:nth-child(2) {
  width: 400px;
}

.slideItem3:nth-child(4) {
  width: 400px;
}

/* -----------------------------------------section6--------------------------------------- */
/* works */
#fourth-main {
  width: 100%;
  height: 100vh;
  font-family: var(--font-suv);
  background-color: var(--bgc-suv);
  border-radius: 100px;
  position: relative;
  display: flex;
  align-items: center;
}

#fourth-main h4 {
  font-family: var(--font-main);
  font-size: 4rem;
  position: absolute;
  top: 5vh;
  left: 3vw;
}

.project {
  margin: 0 auto;
}

/* 프로젝트설명 */
.project_name li h3 {
  font-size: 3.5rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  border-radius: 100px;
  padding: 6px;
  width: 20vw;
  margin-bottom: 3vh;
  margin-left: -10px;
  position: relative;
  z-index: 1;
}

.project_name li h3::after {
  content: "";
  background-color: #decdff;
  width: 17.5vw;
  height: 30px;
  position: absolute;
  bottom: 10px;
  left: 9px;
  z-index: -1;
}

.project_name li {
  list-style: none;
  font-size: 1.2rem;
  margin: 10px 0 10px 0;
}

/* 프로젝트보러가기 */
.project .gotoPj {
  display: flex;
  align-items: center;
}

.project .gotoPj li {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 30px;
}

.project .gotoPj li:first-child {
  padding: 10px;
  border-radius: 100px;
  transition: 0.5s;
}

.project .gotoPj svg {
  border: 1px solid black;
  border-radius: 50%;
  padding: 6px;
  transition: 0.6s;
  fill: black;
}

.project .gotoPj:hover svg {
  background-color: #b288ffa4;
  border: 1px solid #b288ffa4;
}

.project .gotoPj:hover svg {
  transform: translateX(10px);
}

/* 프로젝트 화면 */
.project-img {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 4vw;
}

.project-img svg:nth-child(1) {
  margin-right: 5vw;
  fill: #222;
}

.project-img svg:nth-child(3) {
  margin-left: 5vw;
  fill: #222;
}

.project-img .box {
  width: 45vw;
  height: 50vh;
  border: 10px solid rgb(24, 24, 24);
  border-radius: 20px;
  background: url(./images/Tbmain.png) no-repeat 50% / cover;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(135, 135, 135, 0);
  box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(135, 135, 135, 0);
}
