@charset "utf-8";

/* ----------------------------------section1-------------------------------------- */
#first-main.dark_mode {
  background: #151515;
}

/* 왼쪽 제목 */
#first-main .title.dark_mode h1 {
  color: white;
}

#first-main .title.dark_mode h2 {
  color: #ad84ff;
}

/* 오른쪽 글 */
#first-main .suv-title.dark_mode {
  color: white;
}

#first-main .suv-title.dark_mode #purple::before {
  background-color: #ad84ff;
}

/* 메뉴 바 */
#first-main .menu.dark_mode {
  background-color: var(--bgc-main);
  color: black;
  border: 2px solid black;
}

#first-main .menu.dark_mode li:hover {
  background-color: white;
}

/* ---------------------------------section3---------------------------------- */
#second-main.dark_mode {
  background-color: #151515;
}

#second-main.dark_mode h3 {
  color: white;
}

#second-main.dark_mode h4 {
  color: white;
}

#second-main .about_me .me1.dark_mode {
  color: white;
}

#second-main .about_me .me1.dark_mode h2:before {
  color: rgb(216, 255, 255);
}

#second-main .about_me .pers p:first-child.dark_mode {
  color: rgb(200, 144, 245);
}

#second-main .about_me .pers p.dark_mode {
  color: white;
}

/* --------------------------------------section4------------------------------- */
#third-main.dark_mode {
  background-color: #151515;
}

#third-main.dark_mode h4 {
  color: white;
}

#third-main .skill-wrapper .skill p:nth-child(1).dark_mode {
  color: rgb(200, 144, 245);
}

#third-main .skill-wrapper .skill p:nth-child(2).dark_mode {
  color: white;
}

#third-main .skill-wrapper .skill p:first-child.dark_mode:hover {
  color: #f7d060;
}

/* -----------------------------------------section6--------------------------------------- */
#fourth-main.dark_mode {
  background-color: #151515;
}

#fourth-main.dark_mode h4 {
  color: white;
}

.project.dark_mode {
  color: white;
}

.project.dark_mode li h3::before {
  background-color: #ad84ff;
}

.project.dark_mode li span::before {
  background-color: #ad84ff;
}

.project.dark_mode li:last-child a {
  color: white;
}

.project.dark_mode li:last-child a:hover {
  color: black;
}

.project .box.dark_mode {
  border: 10px solid rgb(175, 175, 175);
}

.swiper-button-prev.dark_mode:after,
.swiper-button-next.dark_mode:after {
  color: rgb(255, 255, 255);
}

.swiper-pagination-bullet.dark_mode {
  background-color: white;
}
