@charset "utf-8";

html {
  scroll-behavior: smooth;
  background-color: var(--bgc-main);
}

::selection {
  background: #abdce7;
  color: #fff;
}

/* scroll */
body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-track {
  background-color: var(--bgc-main);
}

body::-webkit-scrollbar-thumb {
  background-color: #feff86;
  border-radius: 20px;
}

header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 홈버튼 */
header a {
  display: block;
  text-transform: uppercase;
  font-family: var(--font-suv);
  font-size: 1.5vw;
  background-color: #000000;
  color: white;
  width: 10vw;
  height: 7vh;
  border-radius: 50px;
  text-align: center;
  line-height: 7vh;
  margin: 2.5vh 0 0 2vw;
}

/* 다크모드 토글 */
.toggle_box {
  display: flex;
  align-items: center;
  z-index: 3;
  margin-top: 1.041vw;
  position: absolute;
  right: 3vw;
}

#dark_input {
  display: none;
}

#dark_input + label#toggle_btn {
  position: relative;
  width: 10.9vw;
  height: 7.2vh;
}

#dark_input + label#toggle_btn > span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 40px;
  background-color: #000000;
  transition: all 0.7s;
}

#dark_input + label#toggle_btn > span:before {
  display: flex;
  position: absolute;
  height: 6.19vh;
  width: 3.125vw;
  left: 0.25vw;
  bottom: 0.25vw;
  border-radius: 50px;
  content: "";
  background: rgb(223, 223, 223) url(./images/moon.png) no-repeat 50%;
  align-items: center;
  font-weight: bold;
  color: rgb(0, 0, 0);
  transition: all 0.7s;
}

#dark_input + label#toggle_btn > span::after {
  content: "Dark Mode";
  color: white;
  position: absolute;
  top: 2.27vh;
  left: 4.3vw;
  font-family: var(--font-suv);
  font-size: 1.083vw;
  transition: 0.6s;
}

#dark_input:checked + label#toggle_btn > span {
  background-color: white;
}

#dark_input:checked + label#toggle_btn > span:before {
  -webkit-transform: translateX(calc(12.5rem - 100%));
  -ms-transform: translateX(calc(12.5rem - 100%));
  transform: translateX(calc(12.5rem - 100%));
  right: 0.208vw;
  bottom: 0.25vw;
  content: "";
  background: var(--bgc-main) url(./images/sun.png) no-repeat 50%;
}

#dark_input:checked + label#toggle_btn > span:after {
  content: "Light Mode";
  color: rgb(2, 2, 2);
  position: absolute;
  top: 2.27vh;
  left: 1.3vw;
  font-family: var(--font-suv);
  font-size: 1.083vw;
  transition: 0.6s;
}

#dark_input:disabled + label#toggle_btn {
  display: none;
}

/* 아티클1 */
#project1 {
  background-color: var(--bgc-suv);
  margin-top: 3vh;
  border-radius: 50px 50px 0 0;
}

/* 아티클 1 제목 */
#project1 .title {
  font-family: var(--font-main);
  font-size: 3.5vw;
  padding: 10vh 0 0 5vw;
}

/* 3ce 제목 */
.container {
  width: 85%;
  height: 70vh;
  margin: 1vh auto 0;
  font-family: var(--font-suv);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.container .threece {
  margin-left: 5vw;
}

.container .threece h1 {
  font-size: 5vw;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

.container .threece h1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -2px;
  width: 32%;
  height: 5vh;
  background-color: #decdff;
  z-index: -1;
}

.container .threece ul {
  margin: 13vh 15vw 0 0;
  width: 21.5vw;
}

.container .threece li {
  font-size: 1.1vw;
  margin-top: 1.5vh;
  padding-bottom: 1.5vh;
  border-bottom: 1px solid #585858;
}

.container .threece .gray {
  color: #585858;
  font-weight: 600;
}

/* 목업이미지 */
.container .mokup img {
  width: 100%;
  display: block;
}

/* overview */
#overview {
  background-color: var(--bgc-suv);
  padding-top: 25vh;
  height: 90vh;
  font-family: var(--font-suv);
  position: relative;
}

#overview::after {
  content: "";
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 90%;
  height: 1px;
  background-color: #000000;
}

#overview h3 {
  font-size: 2.3vw;
  font-weight: 700;
  margin-left: 17vw;
  position: relative;
  z-index: 1;
}

#overview h3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -2px;
  width: 13%;
  height: 2.5vh;
  background-color: #decdff;
  z-index: -1;
}

.overview {
  width: 30%;
  margin: 3vh 0 0 55vw;
}

.overview li {
  margin: 1vh 0 1vh 0;
  font-size: 1.1vw;
}

.overview li h4 {
  font-size: 1.4vw;
  font-weight: 600;
  margin-bottom: 2.5vh;
}

.overview ul:last-child {
  margin-top: 10vh;
}

/* design */
#design {
  background-color: var(--bgc-suv);
  padding-top: 10vh;
  height: 125vh;
  font-family: var(--font-suv);
  position: relative;
}

#design::after {
  content: "";
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 90%;
  height: 1px;
  background-color: #000000;
}

#design h3 {
  font-size: 2.3vw;
  font-weight: 700;
  margin-left: 17vw;
  position: relative;
  z-index: 1;
}

#design h3::before {
  content: "";
  position: absolute;
  top: 55%;
  left: -2px;
  width: 15.5%;
  height: 2.7vh;
  background-color: #decdff;
  z-index: -1;
}

.design {
  width: 30%;
  margin: 3vh 0 0 55vw;
}

.design li {
  margin: 1vh 0 1vh 0;
  font-size: 1.1vw;
}

/* 타이포그래피 */
.design li h4 {
  font-size: 1.4vw;
  font-weight: 600;
  margin-bottom: 2.5vh;
}

.design li:nth-child(2) p:nth-child(2) {
  margin: 1vh 0 0 1vw;
}

.design li .light {
  margin: 5vh 0 0 1vw;
}

.design li .medium {
  margin: 1vh 0 0 1vw;
  font-weight: 500;
}

.design li .bold {
  margin: 1vh 0 10vh 1vw;
  font-weight: 700;
}

.design li .play {
  font-family: "Playfair Display", serif;
}

/* 컬러파레트 */
.design .pallet {
  display: flex;
}

.design .pallet li {
  width: 8vw;
  height: 4vh;
  text-align: center;
  line-height: 4vh;
  text-transform: uppercase;
  margin: 0 2vw;
}

.design .pallet ul:first-child li:nth-child(1) {
  background-color: #ff5858;
}

.design .pallet ul:first-child li:nth-child(2) {
  background-color: #e5a8a8;
}

.design .pallet ul:first-child li:nth-child(3) {
  background-color: #c36d6d;
}

.design .pallet ul:first-child li:nth-child(4) {
  background-color: #986161;
}

.design .pallet ul:first-child li:nth-child(5) {
  background-color: #ffffff;
}

.design .pallet ul:last-child li:nth-child(1) {
  background-color: #555555;
  color: white;
}

.design .pallet ul:last-child li:nth-child(2) {
  background-color: #444444;
  color: white;
}

.design .pallet ul:last-child li:nth-child(3) {
  background-color: #333333;
  color: white;
}

.design .pallet ul:last-child li:nth-child(4) {
  background-color: #222222;
  color: white;
}

.design .pallet ul:last-child li:nth-child(5) {
  background-color: #111111;
  color: white;
}

/* 키워드 */
.design .keyword {
  margin-top: 5vh;
  margin-bottom: 10vh;
}

/* Publishing */
#publishing {
  background-color: var(--bgc-suv);
  padding-top: 10vh;
  height: 90vh;
  font-family: var(--font-suv);
  position: relative;
}

#publishing h3 {
  font-size: 2.3vw;
  font-weight: 700;
  margin-left: 17vw;
  position: relative;
  z-index: 1;
}

#publishing h3::before {
  content: "";
  position: absolute;
  top: 53%;
  left: -2px;
  width: 14.2%;
  height: 2.9vh;
  background-color: #decdff;
  z-index: -1;
}

.publishing {
  width: 32%;
  margin: 3vh 0 0 55vw;
}

.publishing li {
  margin: 1.5vh 0 1.5vh 0;
  font-size: 1.1vw;
}

.publishing li h4 {
  font-size: 1.4vw;
  font-weight: 600;
  margin-bottom: 2.5vh;
}

.publishing ul:last-child {
  margin-top: 10vh;
}

.publishing ul:last-child li p:first-child {
  font-weight: 600;
}

.publishing ul:last-child li p:last-child {
  margin: 1vh 0 0 1vw;
  line-height: 1.4;
  font-size: 1vw;
}

/* footer */
footer {
  background-color: var(--bgc-suv);
  height: 40vh;
  padding-top: 20vh;
  display: flex;
  justify-content: space-around;
}

footer a {
  font-size: 2vw;
  display: block;
  font-weight: 600;
  color: #111;
  position: relative;
  z-index: 999;
}

footer a:before {
  content: "";
  position: absolute;
  bottom: 15vh;
  left: -0.7vw;
  width: 120%;
  height: 2px;
  background: var(--bgc-main);
  transform-style: linear;
  transition-property: height, width;
  transition-delay: 0.3s, 0.4s;
  transition-duration: 0.3s;
  z-index: 1;
}

footer a:nth-child(2):before {
  content: "";
  position: absolute;
  bottom: 15vh;
  left: -0.8vw;
  width: 112%;
  height: 2px;
  background: var(--bgc-main);
  transform-style: linear;
  transition-property: height, width;
  transition-delay: 0.3s, 0.4s;
  transition-duration: 0.3s;
  z-index: 1;
}

footer a:hover:before {
  transition-property: width, height;
  width: 15px;
  height: 20%;
}

footer a:after {
  content: "";
  position: absolute;
  top: 1vh;
  right: 2px;
  width: 100%;
  height: 20%;
  background-color: #decdff;
  transform: scaleX(0);
  transition: 0.3s;
  transition-delay: 0s;
  transform-origin: left;
  z-index: -1;
}

footer a:hover:after {
  transform: scaleX(1);
  transition-delay: 0.3s;
}

.top-btn {
  text-align: center;
  position: fixed;
  bottom: 3vh;
  right: 2vw;
  width: 2vw;
  height: 2vw;
  background-color: #b288ff94;
  border-radius: 100px;
  transition: 0.5s;
}

.top-btn a {
  line-height: 5.3vh;
}

.top-btn:hover {
  transform: translateY(-10px);
  background-color: #b288ff;
}
