@charset "utf-8";

html {
  scroll-behavior: smooth;
}
/* common */
.bold {
  font-weight: 600;
}

.ghost-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e5a8a8;
  width: 130px;
  padding: 7px;
  border-radius: 50px;
  transition: 0.5s;
  cursor: pointer;
}

.ghost-btn p {
  margin-right: 10px;
  margin-left: 5px;
  font-family: var(--font-ko);
  font-weight: 500;
  font-size: 16px;
}

.ghost-btn:hover {
  background-color: #e5a8a8;
}
/* --------------------- ---------------------*/

/* nav */

header {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vw;
  height: 10vh;
  width: 100%;
}

.header .logo img {
  width: 75%;
  padding: 3vw;
}

.header .login {
  display: flex;
}

.header .login a {
  text-align: center;
  margin: 2vw;
  font-family: var(--font-ko);
  font-size: 1.3rem;
}

/* 로그인 메뉴 */
.login li:nth-child(3) {
  display: block;
}

.login li:nth-child(4) {
  display: block;
}

.login li:nth-child(5) {
  display: none;
}

/* menu */
.menu {
  text-transform: uppercase;
  font-family: var(--font-ko);
  font-size: 1.5rem;
  background-color: black;
  color: white;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.menu li {
  width: 12.5%;
  height: 5vh;
  text-align: center;
  line-height: 5vh;
  border-right: 1px solid white;
  font-size: 1.2rem;
  transition: 0.6s;
  margin: 0;
}

.menu li:last-child {
  border-right: none;
}

.menu li:hover {
  color: black;
  background-color: white;
}

/* banner */
header .main-banner {
  height: 85vh;
  width: 100%;
  position: relative;
  margin-bottom: 10vh;
  background: url(./images/PCmain.png) no-repeat 50%;
}

/* main */

main .blur-the-line {
  min-width: 75%;
  height: 150vh;
  margin: 5vh auto;
  position: relative;
}

/* 립스틱 모델 */
main .main-img1 {
  display: block;
  position: absolute;
  top: 10vh;
  left: 12vw;
}

main .main-img1 img {
  width: 90%;
}

/* 립스틱 반원 사진 */

main .main-img2 {
  display: block;
  position: absolute;
  bottom: 5vh;
  right: 20vw;
}

main .main-img2 img {
  width: 120%;
}

/* 텍스트 박스 */

main .main-txtbox {
  font-family: var(--font-ko);
  font-size: 1.3rem;
  text-align: left;
  color: #333333;
  margin-left: 6vw;
  position: absolute;
  bottom: 10vh;
  left: 13vw;
}

main .main-txtbox h2 {
  font-family: var(--font-en);
  font-size: 6rem;
  margin-bottom: 10px;
  color: #222222;
}

main .main-txtbox h3 {
  display: block;
  font-family: var(--font-en);
  font-size: 3.5rem;
  margin-bottom: 10px;
}

main .ghost-btn {
  margin: 8vh;
}

/* 립스틱 스크롤 5개 */
.swiper {
  width: 80%;
  height: 100%;
}

.swiper-slide {
  text-align: left;
  font-family: var(--font-ko);
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 첫번째사진 */
.matte {
  background: url(../Project1/images/main-1.png) no-repeat 50%;
  height: 80vh;
  position: relative;
  font-size: 2vw;
}

.matte p:first-child {
  position: absolute;
  bottom: 16vh;
  left: 29vw;
}

.matte p:last-child {
  position: absolute;
  bottom: 10vh;
  left: 29vw;
  font-weight: 600;
  font-size: 3vw;
}

/* 두번째사진 */
.syrup {
  background: url(../Project1/images/main-2.png) no-repeat 50%;
  height: 80vh;
  position: relative;
  font-size: 2vw;
}

.syrup p:first-child {
  position: absolute;
  bottom: 16vh;
  left: 29vw;
}

.syrup p:last-child {
  position: absolute;
  bottom: 10vh;
  left: 29vw;
  font-weight: 600;
  font-size: 3vw;
}

/* 세번째사진 */
.yay {
  background: url(../Project1/images/main-3.png) no-repeat 50%;
  height: 80vh;
  position: relative;
  font-size: 2vw;
}

.yay p:first-child {
  position: absolute;
  bottom: 16vh;
  left: 29vw;
}

.yay p:last-child {
  position: absolute;
  bottom: 10vh;
  left: 29vw;
  font-weight: 600;
  font-size: 3vw;
}

/* 네번재사진 */
.rosy {
  background: url(../Project1/images/main-4.png) no-repeat 50%;
  height: 80vh;
  position: relative;
  font-size: 2vw;
}

.rosy p:first-child {
  position: absolute;
  bottom: 16vh;
  left: 29vw;
}

.rosy p:last-child {
  position: absolute;
  bottom: 10vh;
  left: 29vw;
  font-weight: 600;
  font-size: 3vw;
}

/* 다섯번재사진 */
.plumping {
  background: url(../Project1/images/main-5.png) no-repeat 50%;
  height: 80vh;
  position: relative;
  font-size: 2vw;
}

.plumping p:first-child {
  position: absolute;
  bottom: 16vh;
  left: 29vw;
}

.plumping p:last-child {
  position: absolute;
  bottom: 10vh;
  left: 29vw;
  font-weight: 600;
  font-size: 3vw;
}

.swiper-slide img {
  display: block;
  width: 50%;
  height: 100%;
  object-fit: cover;
}

/* 리뷰 큐엔에이 쇼핑가이드 */
.review-faq-sg {
  height: 70vh;
  margin-top: 30vh;
  margin-bottom: 25vh;
  display: grid;
  grid-template-areas:
    "a ."
    "a b"
    "a c";
}

/* 리뷰이벤트*/
.review {
  margin: 0;
  height: 100%;
  background: url(./images/review.jpg) no-repeat 100% / cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: a;
}

.review h2 {
  font-family: var(--font-en);
  color: #333333;
  font-weight: 600;
  font-size: 4.5rem;
  margin-bottom: 40px;
  margin-left: 50px;
}

.review h3 {
  font-family: var(--font-ko);
  color: #444444;
  margin-bottom: 5px;
  margin-left: 50px;
  font-size: 1.2rem;
}

.review h3:nth-child(3) {
  width: 45%;
  line-height: 1.5;
}

.review h4 {
  color: #444444;
  font-size: 1rem;
  margin: 10px 0 30px 50px;
}

.review .ghost-btn {
  margin-left: 50px;
  font-size: 0.8rem;
}

/* FAQ */
.faq {
  background: url(./images/faq.png) no-repeat 30% 5% / cover;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-en);
  color: white;
  grid-area: b;
}

.faq h1 {
  font-size: 3.5rem;
  letter-spacing: 5px;
}

.faq p {
  text-decoration: underline;
  margin-top: 15px;
  font-size: 1.2rem;
  color: white;
  transition: 0.5s;
}

.faq p:hover {
  color: white;
  background-color: black;
  text-decoration: none;
}

/* shopping guide */

.shopping-guide {
  background: url(./images/shoppingguide.png) no-repeat 30% 5% / cover;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-en);
  color: white;
  grid-area: c;
}

.shopping-guide h1 {
  font-size: 3.5rem;
}

.shopping-guide p {
  text-decoration: underline;
  margin-top: 15px;
  font-size: 1.2rem;
  color: white;
  transition: 0.5s;
}

.shopping-guide p:hover {
  color: white;
  background-color: black;
  text-decoration: none;
}

/* best product */
.best-product {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin: -8vh auto 18vh;
}

.best-pd-txtbox {
  min-width: 60%;
}

.best-pd-txtbox h3 {
  font-family: var(--font-ko);
  margin: 8vh 0 0 0;
  font-size: 2.5rem;
  color: #282828;
}

.best-pd-txtbox h4 {
  font-family: var(--font-en);
  font-size: 6rem;
  margin: -15px 0 0 0;
  color: #282828;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.best-pd-txtbox p {
  margin: 1vh 0 5vh 1vw;
  font-family: var(--font-ko);
  font-size: 1.5rem;
}

.best-product {
  position: relative;
}

.best-pd-section1 {
  border-right: 1px solid #a4a4a4;
  padding-right: 5vw;
}

/* 상품 네모칸 */
.best-pd {
  width: 100%;
  display: flex;
  justify-content: center;
}

.best-pd img {
  width: 85%;
  display: block;
  margin: 0 auto;
}

.best-pd figure {
  width: 7.5vw;
  height: 15vh;
  border: 1px solid #e9bfbf;
  border-radius: 10px;
  padding: 1vw;
  transition: 0.5s;
  margin-top: 7vh;
}

.best-pd figure:hover {
  background: rgb(227, 248, 255);
  background: linear-gradient(
    180deg,
    rgba(227, 248, 255, 1) 14%,
    rgba(255, 213, 254, 1) 100%
  );
  transform: translateY(-3vh);
}

.best-pd figure figcaption {
  text-align: center;
  color: #986161;
  font-family: var(--font-ko);
}

/* 고객센터 */

.customer {
  height: 40vh;
  margin-top: 28vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.customer h3 {
  font-family: var(--font-en);
  font-size: 3.5rem;
  margin-bottom: 9vh;
  text-align: center;
}

.customer .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 5%;
}

.customer .info p {
  font-family: var(--font-ko);
  font-size: 1.3rem;
  margin-bottom: 30px;
  text-align: left;
}

.customer .info .pink {
  color: #c36d6d;
  margin-right: 10vw;
}

.customer .ghost-btn {
  width: 160px;
  margin: 8vh auto;
  font-size: 0.8rem;
}

/* footer */
.footer img {
  margin-bottom: 2vh;
}
.footer {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
}

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  width: 100%;
}

.footer ul li {
  width: 25%;
}

.footer ul li a {
  color: rgb(156, 156, 156);
  text-transform: uppercase;
  font-family: var(--font-ko);
  font-size: 1.2rem;
  transition: 0.5s;
  text-align: center;
}

.footer ul li a:hover {
  color: white;
  font-weight: bold;
}

.icon {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  width: 40vw;
}

.icon a {
  margin: 2vw;
}

.icon svg {
  fill: rgb(156, 156, 156);
  transition: 0.5s;
}

.icon svg:hover {
  fill: white;
}

/* copy */
.copy {
  font-family: var(--font-ko);
  color: #767676;
  font-size: 10px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.copy p {
  font-family: var(--font-ko);
  color: #767676;
  font-size: 0.8rem;
  margin: 0 0 1vh 1vw;
}

footer .copy2 p {
  font-family: var(--font-ko);
  color: #767676;
  font-size: 0.8rem;
  margin: 0 0 1vh 1vw;
}

/* 포트폴리오 */

.portfolio {
  margin-top: 5vh;
}
.portfolio p {
  background-color: black;
  max-width: 15%;
  height: 4.2vh;
  text-align: center;
  transition: 0.5s;
  margin: 10px 0 10px 12px;
  font-size: 1.1rem;
}

.portfolio p a {
  color: white;
  line-height: 40px;
  font-family: var(--font-ko);
}

.portfolio p:hover {
  background-color: white;
  border: 1px solid black;
}

.portfolio p:hover a {
  text-decoration: underline;
  color: black;
  font-weight: 700;
}

/* 위로가기버튼 */
.top {
  width: 40px;
  height: 40px;
  background-color: rgba(213, 206, 206, 0.7);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-ko);
  font-size: 14px;
  border-radius: 50%;
  position: fixed;
  right: 10px;
  bottom: 10px;
  transition: 0.5s;
}

.top:hover {
  transform: translateY(-10px);
  background-color: #ff585896;
}
