@charset "utf-8";

/* 홈버튼 */
header a.dark_mode {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

/* 배경 */
#project1.dark_mode {
  background-color: #111;
}

/* project1 */
#project1 .title.dark_mode {
  color: white;
}

/* 3ce제목 */
.container .threece h1.dark_mode {
  color: white;
}

.container .threece h1.dark_mode::before {
  background-color: #ad84ff;
}

/* 3ce설명3줄 */
.container .threece li.dark_mode {
  color: white;
}

/* overview */
#overview.dark_mode {
  background-color: #111;
}

#overview.dark_mode::after {
  background-color: white;
}

#overview h3.dark_mode {
  color: rgb(247, 239, 239);
}

#overview h3.dark_mode::before {
  background-color: #ad84ff;
}

.overview ul li.dark_mode {
  color: white;
}

/* design */
#design.dark_mode {
  background-color: #111;
}

#design.dark_mode::after {
  background-color: white;
}

#design h3.dark_mode {
  color: white;
}

#design h3.dark_mode::before {
  background-color: #ad84ff;
}

.design li h4.dark_mode {
  color: white;
}

.design li p.dark_mode {
  color: white;
}

.design .pallet.dark_mode {
  background-color: #fcf6f4;
  padding: 1vh;
}

/* publishing */
#publishing.dark_mode {
  background-color: #111;
}

#publishing h3.dark_mode {
  color: white;
}

#publishing h3.dark_mode::before {
  background-color: #ad84ff;
}

.publishing li h4.dark_mode {
  color: white;
}
